
<!-- The Modal -->

<form action="" method="POST" id="filter">


  <div>
    <fieldset>
      <legend>Maximum Age:</legend>
      <label for="age">Age:</label>
      <div id="age_value"></div>
      <input type="range" min="18" max="40"id="age" placeholder="Enter email" name="age" value="18">
    </fieldset>
  </div>
  <div>
    <fieldset>
      <legend>Distance:</legend>
      <label for="distance">Distance:</label>
      <div id="distance_value"></div>
      <input type="range" min="1" max="3" id="distance" placeholder="Enter email" name="distance">
    </fieldset>
  </div>
  <button>Filter</button>
</form>
