
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Filter preferences</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-left">
          <form action="" method="POST" id="filter">
            <div class="form-group">
              <label for="age">Age:</label>
              <input type="range" min="18" max="40" class="form-control" id="age" placeholder="Enter email" name="age" value="18">
            </div>
            <div class="form-group">
                <label for="distance">Distance:</label>
                <input type="range" min="1" max="3" class="form-control" id="distance" placeholder="Enter email" name="distance">
            </div>
            <div class="form-group">
                <label for="sex">Orientation:</label>
                <div>
                    <input type="radio" id="female" name="orientation" value="female"
                           checked>
                    <label for="female">female</label>
                  </div>
                  
                  <div>
                    <input type="radio" id="male" name="orientation" value="male">
                    <label for="male">male</label>
                  </div>
                  
                  <div>
                    <input type="radio" id="both" name="orientation" value="both">
                    <label for="both">both</label>
                  </div>          
            </div>
            <button>Filter</button>
          </form>
      </div>
    </div>
  </div>
</div>