<!-- views/partials/header.ejs -->


  <nav>
    <a href="/">
        <img src="images/logo.svg" alt="logo">
    </a>
    <button type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="collapsibleNavbar">
      <ul>
        <li>
          <a href="/meet"><span class="fas fa-heart"></span>Meet</a>
        </li>
        <li>
            <a href="/meet" id="toggle_filter"><span class="fas fa-filter"></span>filter</a>
          </li>
        <li>
          <a href="/chats"><span class="fas fa-comment"></span>Chats</a>
        </li>
        <li>
          <a href="/account"><span class="fas fa-user"></span>My account</a>
        </li>
      </ul>
    </div>
  </nav>
