<style>
.match{
  position: fixed;
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  border: 0px 0px 100px #000;
  font-size: 3em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>

<div class="match">
  <h2>It's a Match!</h2>
</div>