<!-- views/pages/ACCOUNT.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
</head>
<body class="container">

<header>
    <%- include ("../partials/header") %>
</header>

<main>
    <section>
        <h1>Account</h1>

       <a href="/edituser"><i class="fas fa-cog"></i> Change my acount details</a>
        <br><br>
      <form action="" method="POST">
        <button class="btn btn-primary">uitloggen</button>
      </form>
    </section>
</main>

<footer>
    <%- include ("../partials/footer") %>
</footer>

</body>
</html>
