<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
</head>
<body class="container">

<header>
    <%- include ("../partials/header") %>
</header>

<main>

    <section>
        <h1>Hi, <%= user.firstname %> </h1>
    </section>
</main>

<footer>
    <%- include ("../partials/footer") %>
</footer>

</body>
</html>