<!-- views/pages/LOGIN.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/head") %>
</head>

<body class="container">

  <header>
    <%- include ("../partials/header") %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Login</h1>

      <form action="" method="POST">
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" placeholder="Enter password" name="password">
        </div>
        <button class="btn btn-primary">Verstuur</button> <a href="/register">Or create account</a>
      </form>      

  </main>

  <footer>
    <%- include ("../partials/footer") %>
  </footer>

</body>

</html>