*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #28226a;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

/*
  Navigation section
*/

nav {
  background-color: #e9ecef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vh;
  width: 80vw;
  margin: 50px auto;
  border-radius: 0.8rem;
}

nav div ul {
  display: flex;
  margin: 0;
  list-style-type: none;
}

nav ul li a {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: #28226a;
}

nav ul li a span {
    margin: 8px 0px;
}

nav > a {
    display: block;
    min-width: 200px;
}

nav > a img {
  max-width: 250px;
  min-height: 100px;
}

nav button {
  display: none;
}

/*
  Main sectie
*/

main section {
  background-color: #e9ecef;
  border-radius: 0.8rem;
  width: 80vw;
  margin: 50px auto;
  padding: 5vw;
}

main section form div {
    display: flex;
    flex-direction: column;
}

main section form div input {
    max-width: 50%;
    padding: 10px;
    border: 1px solid #d0d0d0;
    border-radius: 0.2rem;
    margin-top: 15px;
}

main section form button {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #28226A;
    color: #fff;
    border: 0px;
    border-radius: 0.2rem;
}

main section form button:hover {
  cursor: pointer;
}

main section a {
  color: #0366d6;
  text-decoration: none;
}

/*
  filter sectie
*/

#filter{
  display: none;
  position: absolute;
  top: 30vh;
  right: 20vw;
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 20px
}

#filter.show{
  display: block;
}

fieldset {
    margin: 0px;
    padding: 0px;
    border: none;
}

legend{
    display: none
}

#filter input{
    min-width: 100%;
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #d0d0d0, 0px 0px 1px #d0d0d0;
  background: #E9ECEF;
  border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #2C2967;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d1d1d1;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
  width: 50%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

section div.user_card {
    margin: 0px auto;
    background-color: #fff;
    max-width: 30vw;
}

section div img {
  max-width: 100%;
}

section div.user_card > div {
    padding: 15px;
}

section div.user_card > div div {
  display: flex;
}

section div.user_card > div div form {
  width: 100%;
}

div.user_card > div div form button {
  width: 100%;
}

div.user_card > div div form:first-child button {
  background-color: red;
}

div.user_card > div div form:last-child button {
  background-color: green;
}

/*
  Admin sectie
*/

#admin table{
  width: 100%;
}

#admin table tr {
  background-color: #d0d0d0;
}

#admin table tr:nth-child(odd) {
  background-color: #e8e8e8;
}

/*
  Footer sectie
 */

footer{
  text-align: center;
  color: #ffffff;
}

/* nav{
  background: #e9ecef;
  border-radius: .3rem;
  margin-bottom: 2rem;
}

header nav a span {
  display: block;
  width: 100%;
  text-align: center;
}

header nav a{
  text-align: center;
  color: #28226a;
}

.navbar-brand > img {
  width: 150px;
  margin-top: 3px;
}

footer p.text-center {
  color: #f0f0f0;
}

.card{
  margin: 0px auto;
  box-shadow: 0px 0px 25px #d0d0d0;
}

.btn-group{
  width: 100%;
}

.form-control{
  border: 0px;
}


input {
  display: block;
  margin-bottom: 15px;
}

.btn-group form {
  width: 50%;
}

.btn-group form button {
  width: 100%;
}

#filter .form-group div {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

#filter .form-group div label{
  padding-left: 15px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #d0d0d0, 0px 0px 1px #d0d0d0;
  background: #E9ECEF;
  border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #2C2967;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d1d1d1;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
  width: 50%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

button {
  background: #2d2967;
  color: #fff;
  border: 0px;
  padding: 8px 20px;
  border-radius: 8px;
}

div#age_value {
  position: absolute;
  color: #2d2967;
  top: 30px;
}

#distance_value{
  position: absolute;
  top: 116px;
}

section{
  background-color: #e9ecef;
  border-radius: .3rem;
  padding: 4rem 2rem;
  margin-bottom: 2rem;
}

body{
   background-color: #F7F7F7;
  margin: 0;
  padding-top: 10vh;
}

img{
  max-width: 100%;
}

header{
  box-shadow: 0px 0px 4px;
  position: fixed;
  width: 100vw;
  top: 0;
  height: 10vh;
}

header, header nav ul {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

header > a img{
  width: 200px;
}

header nav img{
  width: 50px;
}

header nav ul{
  list-style-type: none;
}

header nav ul li{
  margin: 0px 15px;
}

div[class*="-popup"]{
  width: 300px;
  min-height: 500px;
  position: absolute;
  right: 3vw;
  top: 15vh;
  background-color: #fff;
  box-shadow: 0px 0px 5px #d0d0d0;
  border-radius: 8px;
  display: none;
  transform: opacity 0.3s;
  opacity: 0;
}

.open{
  display: block !important;
  opacity: 1 !important;
}

.opacity{
  opacity: 0.4;
}

article {
  width: 30vw;
  background-color: #fff;
  box-shadow: 0px 0px 8px #d0d0d0;
  border-radius: 8px;
}

article img{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

article ~ *{
  padding: 15px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

small {
  display: block;
  margin-bottom: 10px;
}

figure {
  margin: 0px;
}

figure figcaption{
  padding: 15px;
}

article figure + ul {
  background: floralwhite;
  display: flex;
  list-style-type: none;
  margin: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

fieldset {
  margin: 5vh 0;
}

.btn-group form {
  width: 50%;
}

.btn-group form button {
  width: 100%;
} */
