*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #28226a;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

/*
  Navigation section
*/

nav {
  background-color: #e9ecef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vh;
  width: 80vw;
  margin: 50px auto;
  border-radius: 0.8rem;
}

nav div ul {
  display: flex;
  margin: 0;
  list-style-type: none;
}

nav ul li a {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  color: #28226a;
}

nav ul li a span {
  margin: 8px 0px;
}

nav > a {
  display: block;
  min-width: 200px;
}

nav > a img {
  max-width: 250px;
  min-height: 100px;
}

nav button {
  display: none;
}

/*
  Main sectie
*/

main section {
  background-color: #e9ecef;
  border-radius: 0.8rem;
  width: 80vw;
  margin: 50px auto;
  padding: 5vw;
}

main section form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}

main section form div input {
  max-width: 50%;
  padding: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 0.2rem;
  margin-top: 15px;
}

main section form button {
  padding: 10px 15px;
  margin-right: 10px;
  background-color: #28226a;
  color: #fff;
  border: 0px;
  border-radius: 0.2rem;
}

main section form button:hover {
  cursor: pointer;
}

main section a {
  color: #0366d6;
  text-decoration: none;
}

.radio-holder {
  display: flex;
  flex-direction: row;
  flex: auto;
  align-items: baseline;
  margin-bottom: 0px;
}

/*
  filter sectie
*/

#filter {
  display: block;
  position: static;
  top: 30vh;
  right: 20vw;
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 1px;
}

#filter.show {
  display: block;
  position: absolute;
}

#filter.hide {
  display: none;
}

#filter label {
  display: none;
}

fieldset {
  margin: 0px;
  padding: 0px;
  border: none;
}

#filter input {
  min-width: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #d0d0d0, 0px 0px 1px #d0d0d0;
  background: #e9ecef;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #2c2967;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #d1d1d1;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  width: 50%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
  margin: 15px 0;
  opacity: 0.2;
}

form button {
  margin-top: 15px;
}

section div.user_card {
  margin: 50px auto;
  background-color: #fff;
  max-width: 30vw;
}

section div img {
  max-width: 100%;
}

section div.user_card > div {
  padding: 15px;
}

section div.user_card > div div {
  display: flex;
}

section div.user_card > div div form {
  width: 100%;
}

div.user_card > div div form button {
  width: 100%;
}

div.user_card > div div form:first-child button {
  background-color: red;
}

div.user_card > div div form:last-child button {
  background-color: green;
}

/*
  Admin sectie
*/

#admin table {
  width: 100%;
}

#admin table tr {
  background-color: #d0d0d0;
}

#admin table tr:nth-child(odd) {
  background-color: #e8e8e8;
}

/*
  Footer sectie
 */

footer {
  text-align: center;
  color: #ffffff;
}

/*
  Media Queries
*/

@media only screen and (max-width: 767px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    padding-left: 0px;
  }

  nav ul li a {
    padding: 20px 10px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"] {
    max-width: 80%;
    width: auto;
  }

  section div.user_card {
    max-width: none;
  }

  section input {
    margin-bottom: 3vh;
    display: block;
  }

  section input {
    margin-bottom: 3vh;
    display: block;
  }
}
